<?xml version='1.0' encoding='utf-8'?>
<widget id="com.minimisesafetyapp" version="1.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Minimise</name>
    <description>Simple safety on construction sites</description>
    <author email="minimise.online@gmail.com" href="https://minimisesafetyapp.com/">
        The Minimise team
    </author>
    <icon density="mdpi" height="57" platform="android" src="www/img/logo.png" width="57" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
